<div>
    <nav class="navbar">
        <a class="nav-logo" routerLink=''>LOGO</a>
        <div class="default-btns">
            <button mat-raised-button class="default-nav-button" routerLink=''>Home</button>
            <button mat-raised-button class="default-nav-button" routerLink='films'>Films</button>
            @if(isAdmin && loggedIn) {
            <button mat-raised-button class="default-nav-button" routerLink='rentals'>Rentals</button>
            }
        </div>
        @if(loggedIn) {
        <div class="auth-buttons">
            <button mat-raised-button class="nav-button" [matMenuTriggerFor]="cartMenu">
                <mat-icon class="cart-btn">shopping_cart</mat-icon>
            </button>
            <mat-menu #cartMenu="matMenu">
                @if(cart.length <= 0) {
                    <button mat-menu-item routerLink="films">Your Cart is Empty!</button>
                } @else {
                    @for (film of cart; track $index) {
                    <button mat-menu-item [routerLink]="['films/film', film.id]">
                        <span class="cart-item-name">{{ film.title }} - </span>
                        <span class="cart-item-price">${{ prices[film.priceType] }}</span>
                        <span class="cart-item-price"> - {{ film.rentalDuration }} Days</span>
                    </button>
                    <button (click)="removeFromCart(film.id)">X</button>
                    }
                    <p class="totalPrice">Total: ${{ totalPrice }}</p>
                    <button class="default-nav-button" style="display: flex; justify-self: center;">Checkout</button>
                }
            </mat-menu>
            <button mat-raised-button class="nav-button" routerLink='' (click)="logout()">Logout</button>

        </div>
        } @else {
        <div class="auth-buttons">
            <button mat-raised-button class="nav-button" routerLink='login'>Login</button>
            <button mat-raised-button class="nav-button" routerLink='signup'>Signup</button>
        </div>
        }
    </nav>
</div>
<div class="content-main">
    <div class="content-detail">
        <router-outlet />
    </div>
</div>