/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

:root {
    --primary-color: #1b0a69;
    --secondary-color: #020312b0;
    --accent-color: #2811adc7;
    --text-color: #c4bbfc;
    --button-hover-color: #6da6ff;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    color: #c4bbfc;
    font-family: 'Jaro', 'Poetsen One', 'Bebas Neue', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar {
    background-image: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--primary-color));
    position: relative;
    width: 100%;
    min-height: 40px;
    padding-top: 5px;
    height: 50px;
    display: flex;
    border-bottom: 3px solid #14046e;
    box-shadow: 0 0 50px 0 #2811adc7;
}

.nav-logo {
    margin-left: 10px;
    font-size: 30px;
    margin-right: 10px;
}

.default-btns {
    display: flex;
    margin-left: 3%;
}

.auth-buttons {
    display: flex;
    width: 100%;
    justify-content: end !important;
}

.nav-button {
    color: #6da6ff !important;
    font-weight: bolder !important;
    font-size: 16px !important;
    margin-right: 15px;
    padding: 0 10px 0 10px !important;
    background-color: #1d0d6d !important;
    box-shadow: 0 0 10px black !important;
    transition: font-size 0.2s ease-in-out !important;
}

.nav-button:hover {
    font-size: 18px !important;
}


.default-nav-button {
    color: #6da6ff !important;
    font-weight: bolder !important;
    font-size: 16px !important;
    margin-right: 16px;
    background-color: #1d0d6d !important;
    border-radius: 11% !important;
    box-shadow: 0 0 10px black !important;
}

.cart-btn {
    margin: 0 !important;
}

.cart-menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 15px;
    right: 0;
    width: 350px;
    background-image: radial-gradient(circle,#6599b8, #77b2d4) !important;
    border: 2px solid #8d7efb;
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
}
.cart-item-container {
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    background-image: radial-gradient(circle,#6599b8, #77b2d4);
    border-radius: 4px;
    box-shadow: #6c6d88 0 0 50px;
    
}
.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #8d7efb;
    color: #c4bbfc;
}

.cart-item-rmv {
    color: #6da6ff !important;
    font-weight: bolder !important;
    font-size: 20px !important;
    padding: 0 10px 0 10px !important;
    margin-top: 4%;
    height: 50%;
    border-radius: 8px !important;
    background-color: #020312 !important;
    box-shadow: 0 0 5px rgb(197, 6, 6) !important;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out !important;
}

.cart-item-rmv:hover {
    background-color: #6da6ff !important;
    color: black !important;
    cursor: pointer;
}

.content-main {
    display: flex;

    .movies-sidebar {
        min-width: 15%;
        max-width: 15%;
        min-height: 1200px;
        height: 93vh;
        margin-left: 8px;
        margin-top: 8px;
        background-image: linear-gradient(140deg, #1b088486, var(--primary-color), var(--secondary-color));
        border: 3px solid black;
        border-radius: 5px;
        box-shadow: 0 0 25px 0 #2811adc7;

        & .movies-sidebar-title {
            margin-top: 4px;
            display: flex;
            justify-self: center;

        }

        & .movies-info {
            display: flex;
            margin: 7px 10px 7px 10px;
            justify-content: space-between;
            transition: transform 0.2s ease-in-out;
        }

        & .movies-info:hover {
            transform: scale(1.03);
            background-color: #170c534b;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    & .content-detail {
        width: 100vw;
        height: 94vh;
        margin: 8px;
        background-image: linear-gradient(200deg, #1b088486, var(--primary-color), var(--secondary-color));
        border-radius: 5px;
        box-shadow: 10px 10px 50px 0 #2811adc7, inset 10px 10px 50px 0 #2811adc7;
        display: flex;
        flex-direction: column;

        & .movie-details {
            flex: 1 1 auto;
            overflow-y: auto;
        }

        & .content-footer {
            display: flex;
            height: 5%;
            width: 100%;
            justify-content: center;

            & .rent-btn {
                width: 10%;
                height: 90%;
                border-radius: 3%;
            }
        }
    }

    .price {
        display: flex;
        position: absolute;
        left: 88%;
        bottom: 0;
        margin-right: 2%;
        font-size: 28px;
        color: #e6e0fed2;
    }
}